.nav-papa{
    border: 1px solid black;

    display: flex;
    justify-content: center;
    gap: 10rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;



}

.div-casa{

    width:5rem ;
    height: 5rem;

    font-size: 4rem;
}
.div-casa:hover{
    position: relative;
    transform: scale(1.2);
    transform:;
}